body {
    background-image: url('./../pexels-daniel-absi-952670.jpg');
}

p {
    font-size: medium;
}

section {
    width: 100%;
    float: left;
    margin-bottom: 5px;
}

h2 {
    font-size: 18px;
}


.background-light-grey {
    background-color: lightgrey;
}

.background-white {
    background-color: whitesmoke;
}

.job-grid-container {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 6em);
}

.job-header {
    border-radius:5px;
    grid-row: span 1;
    grid-column: span 3;
}

.job-item {
    width: 600px;
    border-radius: 5px;
    grid-column: span 1;
    grid-row: span 4;
}

.job-item:hover {
    transform: scale(1.02) ;
}

.grid-item {
    padding: 10px;
    color: var(--white);
    font-size: 2.4em;
    text-align: center;
}

.form {
    padding: 15px;
    border-radius: 5px;
}

/* Specific element css */
#about {
    width: 100%;
    height: 400px;
    margin-bottom: 25px;
    align-content: center;
}

#about img {
    width: 300px;
    height: 400px;
    float: right;
}

#projects {
    /* need to make this bootstrap sectiong I guess. */
    border-radius: 5px;
}

#about #image-content {
    width: 500px;
    height: 400px;
    padding-top: 10px;
    float: left;
}

#about p, h1{
    margin-top: 10px;
    padding-top: 10px;
    text-align: center;
}

#contact {
    height: 600px;
    align-content: center;
}

.job-image {
    height: 100px;
    max-height: 100px;
    max-width: 300px;
}

.text-contents {
    border-radius: 5px;
    width: 800px;
    word-wrap: normal;
    padding-left: 10px;
    padding-right: 10px;
    height: 400px;
    margin: 10px;
    float: left;
    justify-content: center;
    align-content: center;
}