
body {
    background-image: url("../silver-background.jpg");
}

.background-light-grey {
    background-color: lightgrey;
}

.background-white {
    background-color: whitesmoke;
}

.job-grid-container {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(9, 4em);
}

.job-item {
    float: left;
    background-color: yellow;
    grid-column: span 1;
    grid-row: span 3;
}

.grid-item {
    padding: 10px;
    color: var(--white);
    font-size: 2.4em;
    text-align: center;
  }